<div class="container">
   <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
         <h2 class="text-center">Login</h2>

         <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password' %>

            <% if devise_mapping.rememberable? -%>
               <%= f.check_box :remember_me %>
            <% end -%>
            <%= f.submit 'Login', class: 'form-control login-button' %>

         <% end %>

         <%= render "users/shared/links" %>

      </div>
   </div>
</div>
