<div class="col-sm-3 single-donation-card" id=<%= donation_path(donation.id) %>>
  <div class="card">
    <div class="card-block">

      <h4 class="donation-name">
        <%= truncate(donation.name, :length => 60) %>
      </h4>
      <% if donation.user %>
        <div class="donation-description">
          <div class="donated-by">Donated by <%= donation.user.name %> </div>
          <p> <%= donation.description %></p>
          <button>
            <%= link_to "View Donation", donation_path(donation.id), class: "viewing" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>
