<%= bootstrap_form_for(@donation) do |f| %>
  <%= f.text_field :name, maxlength: 100, placeholder: 'Name of Donation', class:'form-control', required: true %>
  <%= f.text_area :description, rows: 6, maxlength: 1000, placeholder: 'Describe your Donation', class:'form-control', required: true %>
  <%= f.datetime_field :fresh_until, class: 'form-control', required: true %>

  <%= f.text_field :latitude, placeholder: "Latitude", class:'form-control', rqeuired: true %>
  <%= f.text_field :longitude, placeholder: "Longitude", class:'form-control', rqeuired: true %>
  <p> <div id="map2"></div></p>
  <%= f.text_area :pickup_notes, rows: 6, maxlength: 1000, placeholder: 'How can the donation be picked up, once someone is at this location?', class:'form-control', required: true %>

  <h4> Allergen and Other Info: </h4>
  <%= f.form_group :is_perishable, required: true do %>
    <%= f.check_box :is_perishable do %>
      Is Perishable?
    <% end %>
  <% end %>
  <%= f.form_group :requires_preparation, required: true do %>
    <%= f.check_box :requires_preparation do %>
      Requires preparation?
    <% end %>
  <% end %>
  <%= f.form_group :is_vegetarian, required: true do %>
    <%= f.check_box :is_vegetarian do %>
      Is vegetarian?
    <% end %>
  <% end %>
  <%= f.form_group :is_vegan, required: true do %>
    <%= f.check_box :is_vegan do %>
      Is vegan?
    <% end %>
  <% end %>
  <%= f.form_group :is_gluten_free, required: true do %>
    <%= f.check_box :is_gluten_free do %>
      Is gluten free?
    <% end %>
  <% end %>
  <%= f.form_group :contains_peanut, required: true do %>
    <%= f.check_box :contains_peanut do %>
      Contains, or may contain, peanuts?
    <% end %>
  <% end %>
  <%= f.form_group :contains_treenut, required: true do %>
    <%= f.check_box :contains_treenut do %>
      Contains, or may contain, treenuts?
    <% end %>
  <% end %>
  <%= f.form_group :contains_dairy, required: true do %>
    <%= f.check_box :contains_dairy do %>
      Contains, or may contain, dairy?
    <% end %>
  <% end %>
  <%= f.form_group :contains_soy, required: true do %>
    <%= f.check_box :contains_soy do %>
      Contains, or may contain, soy?
    <% end %>
  <% end %>
  <%= f.form_group :contains_egg, required: true do %>
    <%= f.check_box :contains_egg do %>
      Contains, or may contain, egg?
    <% end %>
  <% end %>
  <%= f.form_group :contains_fish, required: true do %>
    <%= f.check_box :contains_fish do %>
      Contains, or may contain, fish?
    <% end %>
  <% end %>
  <%= f.form_group :contains_shellfish, required: true do %>
    <%= f.check_box :contains_shellfish do %>
      Contains, or may contain, shellfish?
    <% end %>
  <% end %>

  <%= f.file_field :images, multiple: true %>

  <%= f.submit class: "form-control"%>

<% end %>
