<script>
  document.addEventListener("DOMContentLoaded", function(){
    initMapForShow(<%=@donation.latitude%>, <%=@donation.longitude%>)
  });
</script>

<div class="container-fluid" id="single-donation-content">
  <div class="col-lg-6 col-lg-offset-3" align="center"">
    <h1><%= title 'Donation Details' %></h1>
    <% description 'View the details of this donation. Such as allergy info and location of donation.' %>
    <% keywords 'Share the Food, View Donation, Find Donation, Show Donation, Donation Details, View, Find, Show, Details, Donation' %>

    <h2>Donated by <%= @donation.user.name %> </h2>
    <h3> <%= @donation.name %> </h3>
    <p> Description: <%= @donation.description %> </p>
    <p> Fresh Until: <%= @donation.fresh_until %> </p>

    <p> <div id="map"> </div> </p>
    <p> Pickup Notes: <%= @donation.pickup_notes %> </p>

    <h2>Allergen Information:</h2>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <%= check_box_tag :is_perishable, "t", @donation.is_perishable, options={disabled: true} %> <strong> Is perishable? </strong>
          <%= check_box_tag :requires_preparation, "t", @donation.requires_preparation, options={disabled: true} %> <strong> Requires preparation? </strong>
          <%= check_box_tag :is_vegetarian, "t", @donation.is_vegetarian, options={disabled: true} %> <strong> Is vegetarian? </strong>
          <%= check_box_tag :is_vegan, "t", @donation.is_vegan, options={disabled: true} %> <strong> Is vegan? </strong>
          <%= check_box_tag :is_gluten_free, "t", @donation.is_gluten_free, options={disabled: true} %> <strong> Is gluten free? </strong>
        </div>
        <div class="col-lg-2">
          <%= check_box_tag :contains_peanut, "t", @donation.contains_peanut, options={disabled: true} %> <strong> Contains peanuts? </strong>
          <%= check_box_tag :contains_treenut, "t", @donation.contains_treenut, options={disabled: true} %> <strong> Contains treenuts? </strong>
          <%= check_box_tag :contains_dairy, "t", @donation.contains_dairy, options={disabled: true} %> <strong> Contains dairy? </strong>
          <%= check_box_tag :contains_soy, "t", @donation.contains_soy, options={disabled: true} %> <strong> Contains soy? </strong>
          <%= check_box_tag :contains_egg, "t", @donation.contains_egg, options={disabled: true} %> <strong> Contains eggs? </strong>
          <%= check_box_tag :contains_fish, "t", @donation.contains_fish, options={disabled: true} %> <strong> Contains fish? </strong>
          <%= check_box_tag :contains_shellfish, "t", @donation.contains_shellfish, options={disabled: true} %> <strong> Contains shellfish? </strong>
        </div>
      </div>
    </div>

    <% if @donation.images.empty? %>
    <h2> No images for this donation.</h2>
    <% else %>
    <% @donation.images.each do |image| %>
    <%= image_tag url_for(image) %>
    <%= link_to image.filename, rails_blob_path(image, disposition: "attachment") %>
    <% end %>
    <% end %>

    <%= link_to "Back", :back %>
  </div>
