<div id="main-content" class ="col-sm-9">
   <h3 class="page-name"><%= link_to 'San Luis Obispo County Donations', san_luis_obispo_county_donations_path %></h3>
   <div class="row">
      <%= render @san_luis_obispo_county_donations %>
      <%= render no_donations_partial_path(@san_luis_obispo_county_donations) %>
   </div>

   <h3 class="page-name"><%= link_to 'Santa Barbara County Donations', santa_barbara_county_donations_path %> </h3>
   <div class="row">
      <%= render @santa_barbara_county_donations %>
      <%= render no_donations_partial_path(@santa_barbara_county_donations) %>
   </div>
</div>
